@import '../../themes/variables';

.sm-container {
    width: 20vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #{$sm_background};

    ul {
        padding-top: 100px;

        li {
            margin-bottom: 10px;
            list-style: none;
        }
    }
}