@import '../../themes/variables';

a {
    color : #{$sc_text_color};
    text-decoration: none;
    font-size: #{$text_size};

    &:hover {
        opacity: 0.8;
    }

    &:visited {
        color : #{$sc_text_color};
    }
}

.active {
    color : #{$ac_text_color}!important;
}