// --COLORS-- //

// general colors
$container_background : '#F2D492';

// side menu colors
$sm_background : '#283845';

// text colors
$pr_text_color : '#283845';
$sc_text_color : '#B8B08D';
$ac_text_color : '#F29559';

// --Size-- //